<mat-toolbar color="primary">
  <div class="toolbar-content">
    <!-- Título de la aplicación -->
    <span>MHAD FOX Solution</span>
    
    <!-- Botones para versión Desktop -->
    <div class="buttons-container">
      <button mat-raised-button (click)="hdlBtnhome()">Inicio</button>
      <button mat-raised-button (click)="hdlBtnAbout()">¿Quiénes somos?</button>
      <button mat-raised-button (click)="hdlBtnContact()">Contacto</button>
    </div>
    
    <!-- Botón de menú para versión móvil -->
    <button mat-icon-button 
            class="menu-button"
            (click)="toggleMenu()"
            aria-label="Menú móvil">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>

<!-- Menú móvil que se muestra al hacer clic en el botón de menú -->
<div class="mobile-menu" [class.open]="isMenuOpen">
  <button mat-button (click)="navigateTo('inicio')">Inicio</button>
  <button mat-button (click)="navigateTo('quienes-somos')">¿Quiénes somos?</button>
  <button mat-button (click)="navigateTo('contacto')">Contacto</button>
</div>
