mat-toolbar {
  position: relative;
  padding: 0 !important;
}

.toolbar-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: relative;
  /*background-color: #7AB8BF;*/
}

.toolbar-content span {
  font-size: 1.25rem;
  white-space: nowrap;
}

.buttons-container {
  display: flex;
  gap: 1rem;
}

.menu-button {
  display: none;
  margin-left: auto;
}
.mobile-menu{
  display: none;
}
.logo-button {
  background: none;
  border: none;
  padding: 0;
  margin-right: 10px;
  cursor: pointer;
  align-items: center;
}

.logo-img {
  height: 40px; /* Ajusta según el tamaño deseado */
}

@media (max-width: 768px) {
  /* Oculta los botones de la versión Desktop */
  .buttons-container {
    display: none !important;
  }
  .toolbar-content span {
    font-size: 1rem;
  }
  .menu-button {
    display: block;
  }
  .mobile-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    flex-direction: column;
    width: 100%;
  }
  .mobile-menu.open {
    display: flex;
  }
  .mobile-menu button {
    width: 100%;
    padding: 1rem;
    border-radius: 0;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
