.hero {
  width: 100%;
  height: 100vh; /* Ocupa toda la altura visible del navegador */
  background-image: url('/images/Bkg15.webp'); /* Imagen de fondo */
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  display: flex; /* Activa el modelo de flexbox */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
}

.hero-text {
  color: white; /* Texto en blanco para buen contraste */
  text-align: center; /* Centra el texto */
  padding: 20px;
  border-radius: 8px; /* Bordes redondeados */
}

.hero-text h1 {
  font-size: 3rem; /* Tamaño del título */
  margin: 0;
}

.hero-text p {
  font-size: 1.5rem;
  margin: 10px 0 0 0;
  font-weight: bold;
}


/* Segunda Sección: Servicios */
.services-container {
  padding: 4rem 2rem;
  background-color: #D8D9D7; /* Fondo uniforme */
}

.services-container h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #012E40;
  text-align: left; /* Alineado a la izquierda */
}

.service-cards {
  display: flex;
  justify-content: space-between; /* Espacio igual entre las cards */
  gap: 2rem; /* Espaciado entre las tarjetas */
}

.service-card {
  width: 30%; /* Ajuste para que las 3 cards quepan en la misma fila */
  border-radius: 8px;
  padding: 1rem;
  text-align: left; /* Texto alineado a la izquierda */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #E3E3E3; /* Fondo uniforme */
}

.service-card:hover {
  transform: scale(1.05);
}

.service-card img {
  width: 65%;
  height: 35%;
  object-fit: cover; /* Tamaño uniforme para las imágenes */
  border-radius: 5%; /* Bordes redondeados */
  display: block;
  margin: 0 auto 1rem auto; /* Centradas dentro de las tarjetas */
}

.service-card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #012E40; /* Color del título */
  text-align: left; /* Títulos alineados a la izquierda */
}

.service-card p {
  font-size: 1rem;
  color: #012E40; /* Color del texto */
  text-align: justify; /* Descripciones justificadas */
}
