<section class="hero">
  <img src="images/Bkg15.jpg" alt="Fondo de Bienvenida" class="hero-image">
  <div class="hero-text">
    <h1>Bienvenidos a MHAD FOX Solution</h1>
    <p>Soluciones tecnológicas a la medida para optimizar tus actividades diarias.</p>
  </div>
</section>
<section class="services-container" style="background-color: #E3E3E3;">
  <h2>Servicios</h2>
  <div class="service-cards">
    <mat-card *ngFor="let service of services" class="service-card">
      <img mat-card-image [src]="service.image" alt="{{ service.titulo }}">
      <mat-card-title><h3>{{ service.titulo }}</h3></mat-card-title>
      <mat-card-content>
        <p><strong>{{ service.intro }}</strong></p>
        <p>{{ service.body }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</section>
