<section class="quienes-somos">
  <h1>¿Quiénes somos?</h1>
  <p>
    Somos un grupo de entusiastas de la tecnología comprometidos con transformar cada idea en una solución que marque la diferencia. Nuestra pasión nos impulsa a explorar nuevos horizontes y enfrentar los desafíos con creatividad e innovación.
  </p>
</section>

<section class="nuestros-valores">
  <h2>Nuestros valores</h2>
  <div class="values-grid">
    <div class="value">
      <mat-icon>lightbulb</mat-icon>
      <h3>Innovación</h3>
      <p>Siempre buscamos nuevas ideas para resolver desafíos únicos.</p>
    </div>
    <div class="value">
      <mat-icon>group</mat-icon>
      <h3>Colaboración</h3>
      <p>Creemos en el poder del trabajo en equipo para lograr el éxito.</p>
    </div>
    <div class="value">
      <mat-icon>trending_up</mat-icon>
      <h3>Compromiso</h3>
      <p>Nos dedicamos a entregar resultados que superen las expectativas.</p>
    </div>
  </div>

  <!-- Línea separadora -->
  <div class="separator"></div>

  <div class="mission-vision">
    <div class="mission">
      <h3>Misión</h3>
      <p>
        Ofrecer soluciones tecnológicas innovadoras y personalizadas que simplifiquen y optimicen los procesos de personas y empresas. Nos apasiona transformar ideas en herramientas digitales eficientes, aportando valor con sistemas de control y desarrollo a la medida, mientras construimos relaciones de confianza a través de un trabajo comprometido y cercano.
      </p>
    </div>
    <div class="vision">
      <h3>Visión</h3>
      <p>
        Convertirnos en una empresa líder en el desarrollo de sistemas tecnológicos, reconocida por su creatividad, calidad y capacidad de atender las necesidades específicas de nuestros clientes. Aspiramos a ser el socio ideal para personas y empresas que busquen innovación, eficiencia y transformación digital.
      </p>
    </div>
  </div>
</section>

<section class="nuestro-equipo">
  <h2>Nuestro equipo</h2>
  <div class="carousel-container">
    <owl-carousel-o [options]="carouselOptions">
      <ng-container *ngFor="let card of cards; trackBy: trackByFn">
        <ng-template carouselSlide>
          <div class="team-card">
            <img [src]="card.image" alt="{{ card.nombre }}" />
            <div class="overlay">
              <h3>{{ card.nombre }}</h3>
              <p>{{ card.descripcion }}</p>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</section>
